<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 text-center">
      <p>Auf dieser Seite könnt ihr Fehler in Protokollen melden.<br/>
      Gebt dazu einfach den Barcode und eure Beschwerde in das Formular ein.<br/>
      Den Barcode findet ihr in der oberen rechten Ecke des Protokolls.</p>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <form data-bind="submit: reportDocument" class="form-horizontal">
        <div class="form-group">
          <label for="docid" class="col-sm-2 control-label">Barcode</label>
          <div class="col-sm-10">
            <input required="required" type="number" class="form-control" id="docid" placeholder="123"
                   data-bind="value: id_or_barcode">
          </div>
        </div>
        <div class="form-group">
          <label for="reason" class="col-sm-2 control-label">Beschwerde</label>
          <div class="col-sm-10">
            <textarea required="required" class="form-control" rows="3" placeholder="Welche Fehler hat das Protokoll?" id="reason"
                      data-bind="value: reason"></textarea>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary" data-bind="enable: submissionEnabled">
              Melden
              <span data-bind="css: { 'spinner icon-spinner active': status === 'waiting',
                'icon-ok': status === 'success',
                'icon-attention': status === 'error' || status === '404' || status === '400' }"></span>
            </button>
            <span class="text-warning" data-bind="visible: status === 'error'">Es ist ein unbekannter Fehler aufgetreten. Komm direkt bei uns vorbei oder schreibe an</span>
            <a data-bind="visible: status === 'error'" href="mailto:odie@fsmi.uni-karlsruhe.de">odie@fsmi.uni-karlsruhe.de</a>
            <span class="text-warning" data-bind="visible: status === '400'">Bitte gib eine Beschwerde ein.</span>
            <span class="text-warning" data-bind="visible: status === '404'">Zu dem Barcode wurde kein Protokoll gefunden.</span>
            <span class="text-success" data-bind="visible: status === 'success'">Danke für dein Feedback!</span>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
